.download-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    overflow: hidden;
    animation: ExpandDownload 0.3s ease forwards;
}

@keyframes ExpandDownload {
    from { min-width: 10%; }
    to { min-width: 40%; }
}

.download-item img {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    object-fit: cover;
}

.download-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-name {
    color: var(--text-color);
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}

.progress-percentage {
    color: var(--text-color);
    font-size: 12px;
    margin: 0;
}

.download-speed {
    color: var(--secondary-text-color);
    font-size: 12px;
    margin: 0;
}

.progress-bar {
    width: 100%;
    height: 2px;
    background-color: var(--progress-bar-background-color);
    position: relative;
    border-radius: 3px;
}

.progress-bar-fill {
    width: 69%;
    height: 100%;
    background-color: var(--secondary-text-color);
    box-shadow: 0px 0px 20px var(--secondary-text-color);
    position: absolute;
    border-radius: 3px;
    transition: width 0.3s linear, color 0.3s linear;
    top: 0;
    left: 0;
}

/* ==================== */
/* Footer               */
/* ==================== */
.app-footer {
    width: 100%;
    height: 60px;
    background-color: rgb(22, 22, 22);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-text-color);
    padding: 0 20px;
    box-sizing: border-box;
}

.app-footer h1 {
    font-size: 14px;
    color: var(--secondary-text-color);
}

.footer-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#placeholder-text {
    display: flex;
    font-size: 16px;
    color: var(--secondary-text-color);
    gap: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

#download-item {
    display: none;
    align-items: center;
    gap: 10px;
}