.game-page {
    position: fixed;
    bottom: 0;
    width: calc(100% - 70px);
    height: calc(100% - 140px);
    background-color: rgb(0, 128, 0);
    padding: 20px;
    z-index: 9999999999999;
    overflow-y: auto;
}

