.sidebar-container {
    width: 250px;
    height: 100%;
    color: var(--text-color);
    position: fixed;
    padding-top: 50px; /* Needed for topbar */
}


.search-underline {
    width: 95%;
    margin: auto;
    background-color: var(--outline);
    height: 1px;
    position: absolute;
    bottom: 0;
    border-radius: 100px;
}


.sidebar-section {
    width: 100%;
    margin-top: 97px;
}

.sidebar-section-title {
    width: 80%;
    margin-left: auto;
    height: auto;
    font-size: 10px;
    padding: 10px 0;
}

.sidebar-section-title h1 {
    padding-left: 20px;
    margin-bottom: 10px;
}

.sidebar-item {
    height: 50px;
    width: 80%;
    margin-left: auto;
    position: relative;
}

.sidebar-item a:hover {
    background-color: rgb(29, 29, 29);
}

.sidebar-item a {
    width: 90%;
    height: 100%;
    box-sizing: border-box;
    color: var(--secondary-text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    border-radius: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar-item.active a {
    background-color: var(--hover-background-color);
    color: var(--text-color);
    border: 1px solid var(--outline);
}

/* ==================== */
/* Active Indicators    */
/* ==================== */
.active-indicator {
    height: 0;
    width: 5px;
    background-color: var(--accent-color);
    box-shadow: 0px 0px 20px var(--accent-color);
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.active-indicator-horizontal {
    height: 5px;
    width: 100%;
    background-color: var(--accent-color);
    box-shadow: 0px 0px 20px var(--accent-color);
    position: absolute;
    left: 0;
    top: 110%;
    transform: translateY(-50%);
    border-radius: 100px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

@keyframes growHeight {
    from { height: 0; }
    to { height: 35px; }
}

@keyframes growWidth {
    from { width: 0; }
    to { width: 100%; }
}

.sidebar-item.active .active-indicator {
    opacity: 1;
    animation: growHeight 0.3s ease forwards;
}