:root {
    --background-color: rgb(25, 25, 25);
    --text-color: white;
    --secondary-text-color: rgb(118, 118, 118);
    --accent-color: rgb(51, 229, 131);
    --hover-background-color: rgba(255, 255, 255, 0.043);
    --progress-bar-background-color: rgba(255, 255, 255, 0.043);
    --game-box-info-background-color: rgb(30, 30, 30);
}

* {
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-family: 'Inter';
}

html, body {
    background-color: var(--background-color);
    height: 100%;
    overscroll-behavior: none;
    overflow-x: hidden;
}

.sidebar-container {
    width: 250px;
    height: 100%;
    color: var(--text-color);
    position: fixed;
}

.sidebar-topbar-container {
    width: 90%;
    margin-left: auto;
    height: 100px;
    display: flex;
    align-items: center;
}

.sidebar-topbar-container h1 {
    font-size: 25px;
    font-weight: 400;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
}

.sidebar-topbar-container i {
    font-size: 35px;
}

.sidebar-section {
    width: 100%;
}

.sidebar-section-title {
    width: 80%;
    margin-left: auto;
    height: auto;
    font-size: 10px;
    padding: 10px 0;
}

.sidebar-section-title h1 {
    padding-left: 20px;
    margin-bottom: 10px;
}

.sidebar-item {
    height: 50px;
    width: 80%;
    margin-left: auto;
    position: relative;
}

.sidebar-item a:hover {
    background-color: rgb(29, 29, 29);
}

.sidebar-item a {
    width: 90%;
    height: 100%;
    box-sizing: border-box;
    color: var(--secondary-text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    border-radius: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar-item.active a {
    background-color: var(--hover-background-color);
    color: var(--text-color);
}

.active-indicator {
    height: 0;
    width: 10px;
    background-color: var(--accent-color);
    box-shadow: 0px 0px 20px var(--accent-color);
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.active-indicator-horizontal {
    height: 10px;
    width: 100%;
    background-color: var(--accent-color);
    box-shadow: 0px 0px 20px var(--accent-color);
    position: absolute;
    left: 0;
    top: 110%;
    transform: translateY(-50%);
    border-radius: 100px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

@keyframes growHeight {
    from {
        height: 0;
    }
    to {
        height: 35px;
    }
}

@keyframes growWidth {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.sidebar-item.active .active-indicator {
    opacity: 1;
    animation: growHeight 0.3s ease forwards;
}

.search-bar {
    width: 40%;
    height: 50px;
    background-color: rgba(50, 50, 50, 1);
    border-radius: 20px;
    display: flex;
    top: 30px;
    align-items: center;
    padding: 0 20px;
    gap: 10px;
    z-index: 3;
}

.search-bar i {
    color: var(--secondary-text-color);
    font-size: 18px;
}

.search-bar input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: var(--text-color);
    font-size: 16px;
}

.search-bar input::placeholder {
    color: var(--secondary-text-color);
}

.content {
    position: absolute;
    top: 0;
    left: 250px;
    width: calc(100% - 310px);
    height: 100%;
    padding-left: 20px;
}

.page-content {
    display: none;
}

.page-content.active {
    display: block;
}

.game-library-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 20px;
    padding-top: 30px;
}

.game-library-title {
    grid-column: 1 / -1;
    font-size: 24px;
    font-weight: 400;
    color: var(--text-color);
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 2px solid var(--hover-background-color);
}

.Library-settings-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.add-game-to-library-wrapper button {
    outline: none;
    border: none;
    padding: 10px 20px;
    color: var(--secondary-text-color);
    border-radius: 15px;
    background-color: var(--hover-background-color);
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    gap: 10px;
}

.add-game-to-library-wrapper button:hover {
    color: var(--text-color);
}

.Library-navigation-wrapper {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Library-settings-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    width: auto;
    gap: 5px;
    font-size: 16px;
    color: var(--secondary-text-color);
}

.Library-settings-wrapper button {
    border: none;
    background: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--background-color);
}

.Library-favorites-container {
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;
    position: relative;
}

.Library-favorites-container button {
    background: none;
    border: none;
    color: var(--secondary-text-color);
    font-size: 22px;
    cursor: pointer;
    padding: 5px 10px;
    position: relative;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 15px;
}

.Library-favorites-container button:hover {
    background-color: rgb(29, 29, 29);
}

.Library-favorites-container button.active {
    color: var(--accent-color);
    background-color: rgba(0, 0, 0, 0) !important;
}

.Library-favorites-container button.active .active-indicator-horizontal {
    opacity: 1;
    animation: growWidth 0.3s ease forwards;
}

.library-tools-wrapper {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
}

.Library-option-container {
    display: flex;
    gap: 10px;
}

.game-library-title button {
    outline: none;
    border: none;
    width: 40px;
    height: 40px;
    color: var(--secondary-text-color);
    border-radius: 15px;
    background-color: var(--hover-background-color);
    cursor: pointer;
    transition: all 0.2s ease;
}

.game-library-title button:hover {
    color: var(--text-color) !important;
}

.game-library-game-box {
    width: 100%;
    height: 300px;
    border-radius: 15px;
    background-color: var(--hover-background-color);
    display: block;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.game-library-game-box[style*="display: none"] {
    display: none !important;
}

.game-library-game-box:hover {
    transform: scale(1.05);
}

.game-box-info {
    width: 100%;
    background-color: var(--game-box-info-background-color);
    color: var(--text-color);
    font-size: 14px;
    position: absolute;
    bottom: -100px;
    padding: 10px 20px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.game-box-info p {
    color: var(--secondary-text-color);
    margin: 0;
}

.game-box-info h1 {
    font-size: 15px;
    margin: 0;
}

.game-library-game-box:hover .game-box-info {
    bottom: 0;
}

.game-box-info .text-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.game-box-info i {
    transition: color 0.3s ease, transform 0.3s ease;
    color: var(--secondary-text-color);
    font-size: 20px;
}

.game-box-info button {
    right: 60px;
    border: none;
    background: none;
    position: absolute;
    cursor: pointer;
}

.game-page {
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    height: 100%;
    background-color: var(--background-color);
    padding: 20px;
    z-index: 3;
    overflow-y: auto;
}

.download-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    min-width: 40%;
    overflow: hidden;
    animation: ExpandDownload 0.3s ease forwards;
}
@keyframes ExpandDownload {
    from {
        min-width: 10%;
    }
    to {
        min-width: 40%;
    }
}

.download-item img {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    object-fit: cover;
}

.download-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-name {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.progress-percentage {
    color: var(--text-color);
    font-size: 14px;
    margin: 0;
}

.download-speed {
    color: var(--secondary-text-color);
    font-size: 12px;
    margin: 0;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: var(--progress-bar-background-color);
    position: relative;
    border-radius: 3px;
}

.progress-bar-fill {
    width: 69%;
    height: 100%;
    background-color: var(--accent-color);
    box-shadow: 0px 0px 20px var(--accent-color);
    position: absolute;
    border-radius: 3px;
    transition: width 0.3s linear, color 0.3s linear;
    top: 0;
    left: 0;
}

.app-footer {
    width: 100%;
    height: 80px;
    background-color: rgb(22, 22, 22);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 20px;
    box-sizing: border-box;
}

.app-footer h1 {
    font-size: 16px;
}

.footer-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#placeholder-text {
    display: flex;
    font-size: 16px;
    color: var(--secondary-text-color);
    gap: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

#download-item {
    display: none;
    align-items: center;
    gap: 10px;
}