* {
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-family: 'Inter';
}

html, body {
    background-color: rgb(32, 32, 32);
    height: 100%;
    overscroll-behavior: none;
}

.sidebar-container {
    width: 250px;
    height: 100%;
    color: white;

    position: fixed;
}

.sidebar-topbar-container {
    width: 90%;
    margin-left: auto;
    height: 100px;
    display: flex;
    align-items: center;
}

.sidebar-topbar-container h1 {
    font-size: 25px;
    font-weight: 400;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
}

.sidebar-topbar-container i {
    font-size: 35px;
}

.sidebar-section {
    width: 100%;
}

.sidebar-section-title {
    width: 80%;
    margin-left: auto;
    height: auto;
    font-size: 10px;
    padding: 10px 0;
}

.sidebar-section-title h1 {
    padding-left: 20px;
    margin-bottom: 10px;
}

.sidebar-item {
    height: 50px;
    width: 80%;
    margin-left: auto;
    position: relative;
}

.sidebar-item a {
    width: 90%;
    height: 100%;
    box-sizing: border-box;
    color: rgb(118, 118, 118);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    border-radius: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar-item.active a {
    background-color: rgba(255, 255, 255, 0.043);
    color: white;
}

.active-indicator {
    height: 0;
    width: 10px;
    background-color: rgb(51, 111, 229);
    box-shadow: 0px 0px 20px rgb(51, 111, 229);
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sidebar-item.active .active-indicator {
    opacity: 1;
    animation: growHeight 0.3s ease forwards;
}

@keyframes growHeight {
    from {
        height: 0;
    }
    to {
        height: 35px;
    }
}

.search-bar {
    width: 40%;
    height: 50px;
    background-color: rgba(50, 50, 50, 1);
    border-radius: 20px;
    display: flex;
    position: fixed;
    top: 30px;
    align-items: center;
    padding: 0 20px;
    gap: 10px;

    position: fixed;
    z-index: 3;
}

.search-bar i {
    color: rgb(118, 118, 118);
    font-size: 18px;
}

.search-bar input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
}

.search-bar input::placeholder {
    color: rgb(118, 118, 118);
}

.content {
    position: absolute;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    height: 100%;
}

.page-content {
    display: none;
}

.page-content.active {
    display: block;
}

.game-library-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 70px;
}

.game-library-game-box {
    height: 300px;
    width: 200px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.043);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
}

.game-library-title {
    padding-top: 55px;
    width: 100%;
    height: auto;
    color: white;
}

.game-box-info {
    width: 100%;
    background-color: rgb(30, 30, 30);
    color: white;
    font-size: 14px;
    position: absolute;
    bottom: -100px;
    padding: 10px 20px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.game-box-info p {
    color: rgb(118, 118, 118);
    margin: 0; 
}
.game-box-info h1 {
    font-size: 15px;
    margin: 0;
}

.game-library-game-box:hover .game-box-info {
    bottom: 0;
}

.game-box-info .text-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.game-box-info i {
    transition: color 0.3s ease, transform 0.3s ease;
    color: rgb(118, 118, 118);
    font-size: 20px;
}

.game-box-info button {
    right: 60px;
    border: none;
    background: none;
    position: absolute;
    cursor: pointer;
}

.game-page {
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    height: 100%;
    background-color: rgb(32, 32, 32);
    padding: 20px;
    z-index: 3;
    overflow-y: auto;
}

.download-container {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    gap: 10px;
}

.download-container img {
    width: 30px;
    height: 30px;
    border-radius: 3px;
}

.download-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.progress-text {
    color: white;
}

.info-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.043);
    position: relative;
    border-radius: 3px;
}

.progress-bar-fill {
    width: 69%;
    height: 100%;
    background-color: rgb(51, 111, 229);
    box-shadow: 0px 0px 20px rgb(51, 111, 229);
    position: absolute;
    border-radius: 3px;

    transition: width 0.3s linear, color 0.3s linear;

    top: 0;
    left: 0;
}
